*,
*::before,
*::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  background-color: #E9F4FF;
}

.header {
  height: 70px;
}

.header-title {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2rem;
}
.header-title span {
  font-size: 2.7rem;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.67px;
  color: #2375f0;
}

.wrapper {
  /* width: 100%; */
  display: grid;
  grid-template-columns: 243px 1fr;
  grid-template-rows: 64px 1fr;
}

/* .main {
  background-color: #E9F4FF;
} */

.nav {
  background-color: #fff;
  border-radius: 0 30px 30px 0;
  grid-row-start: 1;
  grid-row-end: 3;
}

.nav .logo {
  margin: 1rem 2rem 0 2rem;
  font-size: 2.2rem;
}

.menu-item {
  list-style-type: none;
  padding: 1rem 0;
}

.menu-link {
  text-decoration: none;
  color: #214a74;
}

.menu-main {
  margin: 1.6rem 2rem;
}

.main-content {
  margin: 0 3rem;
}

.svg {
  width: 20px;
}

/* .btn {
  height: 43px;
} */

table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 100%;
}

table td {
  color: #004976;
}

table thead tr {
  /* background-color: #009879; */
  background-color: #2375f0;
  color: #ffffff;
  text-align: left;
}

table tbody tr {
  border-bottom: 1px solid #ddd;
}

table tbody tr:nth-of-type(even) {
  /* background-color: #f3f3f3; */
  background-color: #bee9ff;;
}

table tbody tr:last-of-type {
  /* border-bottom: 2px solid #009879; */
  border-bottom: 2px solid #2375f0;
}

table thead th:nth-child(1) {
  width: 50px;
}
table thead th:nth-child(2) {
  width: 150px;
}
table thead th:nth-child(3) {
  width: 150px;
}
table thead th:nth-child(4) {
  width: 150px;
}
table thead th:nth-child(5) {
  width: 150px;
}
table thead th:nth-child(6) {
  width: 150px;
}

table th,
table td {
  padding: 12px 15px;
}


/*  tabla historial de cronogramas */
.historial table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 100%;
}

.historial table td {
  color: #004976;
}

.historial table thead tr {
  /* background-color: #009879; */
  background-color: #2375f0;
  color: #ffffff;
  text-align: left;
}

.historial table tbody tr {
  border-bottom: 1px solid #ddd;
}

.historial table tbody tr:nth-of-type(even) {
  /* background-color: #f3f3f3; */
  background-color: #bee9ff;;
}

.historial table tbody tr:last-of-type {
  /* border-bottom: 2px solid #009879; */
  border-bottom: 2px solid #2375f0;
}

.historial table thead th:nth-child(1) {
  width: 50px;
}
.historial table thead th:nth-child(2) {
  width: 150px;
}
.historial table thead th:nth-child(3) {
  width: 150px;
}
.historial table thead th:nth-child(4) {
  width: 150px;
}
.historial table thead th:nth-child(5) {
  width: 50px;
}
.historial table thead th:nth-child(6) {
  width: 50px;
}

.historial table th,
.historial table td {
  padding: 12px 15px;
}
/* fin tabla historial */

.formulario {
  margin: 2rem 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .formulario .content-campos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} */

.formulario .campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.formulario .campo label {
  font-size: 18px;
}
.formulario .campo input,
.formulario .campo select {
  padding: 7px;
  width: 400px;
}

.formulario .button-content {
  text-align: center;
}
.formulario .button-content input {
  margin-top: 20px;
  padding: 10px;
  width: 120px;
  font-size: 18px;
  background: linear-gradient(to right, #2375f0 0%, #38D4F2 100%);
  border-radius: 25px;
  border: 1px solid #38D4F2;
  width: 211px;
  color: #fff;
  font-weight: 100;
  letter-spacing: 1.26px;
}

.cronograma {
  margin-bottom: 50px;
}

.mensaje {
  font-size: 12px;
  color: red;
  font-weight: bold;
}

.block {
  display: block;
}

.none {
  display: none;
}